.App {
  text-align: center;
}

body {
  /* background-color: #0a0b11; */
  background-image: url('../Assets/Backgrounds/4163867.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  /* background-position: center; */
  background-color: white;
  color: black;
}
