.contentform{
    background-color: rgb(91, 74, 129);
    border-radius: 4%;
    /* width: 50%; */
    color: white;
    text-align: center;
    

}
.contentformcontainer{
    width: 50%;
    align-items: center;
    margin: 0 auto;


}

textarea{
    width: 70%;
    height: 20em;
    margin-bottom: 2em;
}

input{
    color: white;
}